<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>



    <div class="container">
        <div class="panel messages-panel">
            <div class="contacts-list">
                <div class="inbox-categories">
                    <div data-toggle="tab" data-target="#inbox" class="active"> {{group_name}} </div>

                </div>
                <div class="tab-content">
                    <div id="inbox" class="contacts-outter-wrapper tab-pane active">

                        <div class="contacts-outter">
                            <ul class="list-unstyled contacts">
                                <li data-toggle="tab" data-target="#inbox-message-1" class="active">

                                    <img alt="" style="width: 134px;
                                    height: 134px;
                                    margin-left: 23%;" class="img-circle medium-image" src="/static/admin.JPG">
                                    <br />
                                    <div class="vcentered info-combo">
                                        <h3  style="margin-left: 48%;font-size: 15px;" class="no-margin-bottom name"> Admin : {{planner}} </h3>
                                        <div style="font-size: 15px;"> Description: <br />{{description}}</div>
                                        <br/>
                                    </div>
                                    <br />
                                    <div>
                                        <h4> Room Members</h4>
                                        {% for groupUser in groupUsers %}
                                        {% if groupUser.id != plannerId %}

                                        <img alt="" class="img-circle medium-image" src="/static/avatar.jpg">
                                        <output>{{groupUser.first_name}}</output>
                                        <br />
                                        {% endif %}
                                        {% endfor %}

                                    </div>

                                </li>

                            </ul>
                        </div>
                    </div>



                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane message-body active" id="inbox-message-1">
                    <div class="message-top">
                        <a class="btn btn btn-success new-message" href="/groups/add"> <i class="fa fa-envelope"></i>
                            New Room </a>
                            <div role="list" class="w-clearfix w-dyn-items w-row">
                                <div class="category-wrapper w-dyn-item w-col w-col-2" style="white-space: nowrap;"><img src="{% static 'logo.png'%}" alt="logo" width="40px" style="max-width: none;"> Welcome, {{request.session.name}} !    <a href="/logout">Logout</a></a></div>
                            </div>
                       
                    </div>

                    <div class="message-chat">
                        <div class="chat-body">
                          

                            

{% for message in messages %}
{% if message.sender.id == request.session.login_user %}
<div class="message my-message">
    <div class="message-body">
        <div class="message-body-inner">
            <div class="message-info">
                <h4> {{message.sender.first_name}}  {{message.sender.last_name}} </h4>
                <h5> <i class="fa fa-clock-o"></i> {{message.created_at}} </h5>
            </div>
            <hr>
            <div class="message-text">
                {{message.context}}
            </div>
        </div>
    </div>
    <br>
</div>
{% endif %}
{% if message.sender.id != request.session.login_user %}
                            <div class="message info">
                                <img alt="" class="img-circle medium-image" src="/static/avatar.jpg">

                                <div class="message-body">
                                    <div class="message-info">
                                        <h4> {{message.sender.first_name}}  {{message.sender.last_name}}</h4>
                                        <h5> <i class="fa fa-clock-o"></i> {{message.created_at}} </h5>
                                    </div>
                                    <hr>
                                    <div class="message-text">
                                        {{message.context}}
                                    </div>
                                </div>
                                <br>
                            </div>
                            {% endif %}

                            {% endfor %}
                        </div>

                        
                            <form action="/groups/addMsg/{{group_id}}" method="POST">
                                {% csrf_token %}
                                <div class="chat-footer"></div>
                                <div class="chat-footer new-message-textarea">
                                <textarea style="height: 35px !important;" type="text" class="send-message-text" id="content" name="content" ></textarea>
                                <!-- <input type="submit" value="Add" class="btn btn-primary"> -->
                                <button type="submit" class="send-message-button btn-info"> <i class="fa fa-send"></i>
                                </button>
                                </div>
                                <!-- <label class="upload-file">
                                <input type="file" required="">
                                <i class="fa fa-paperclip"></i>
                            </label> -->
                            <!-- <button type="button" class="send-message-button btn-info"> <i class="fa fa-send"></i>
                            </button> -->

                            
                        </div>
                            </form>
                        
                    </div>
                </div>


            </div>
        </div>
    </div>



</body>

</html>